<% content_for :title, 'カフェ一覧' %>

<div id="map" class="map"></div>

<div class="container my-5">
  <h1 class="mb-4">カフェ一覧</h1>
  
  <%= form_with(id: "search_form", url: "#", method: :get, local: true) do %>
    <div class="form-group">
      <%= text_field_tag :name, params[:name], placeholder: "カフェ名", id: "name", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag "検索", class: 'btn btn-primary' %>
    </div>
  <% end %>
  
  <div class="row">
    <% @cafes.each do |cafe| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <% if cafe.images.present? %>
            <%= image_tag cafe.images.url, class: 'card-img-top', alt: "#{cafe.name}の画像" %>
          <% else %>
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="画像はありません">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to cafe.name, cafe_path(cafe) %></h5>
            <p class="card-text"><%= truncate(cafe.description, length: 100) %></p>
            <%= button_to 'お気に入り', add_to_favorites_cafe_path(cafe), method: :post, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <%= will_paginate @cafes %>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
