<% content_for :title, @cafe.name %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <% if @cafe.images.present? %>
        <%= image_tag @cafe.images.url, class: 'img-fluid' %>
      <% else %>
        <img src="https://via.placeholder.com/300" class="img-fluid" alt="No Image">
      <% end %>
    </div>
    <div class="col-md-6">
      <h1><%= @cafe.name %></h1>
      <p><%= @cafe.description %></p>
      <p><strong>住所:</strong> <%= @cafe.address %></p>
      <p><strong>電話番号:</strong> <%= @cafe.phone_number %></p>

      <% if @cafe.website.present? %>
        <p><strong>ウェブサイト:</strong> <%= link_to @cafe.website, @cafe.website, target: "_blank" %></p>
      <% end %>

      <div class="my-4">
        <%= link_to '一覧に戻る', cafes_path, class: 'btn btn-secondary' %>
      </div>
      
      <%= link_to "新しいレビューを書く", new_cafe_review_path(@cafe), class: "btn btn-primary mb-3" %>
      
    </div>
  </div>

  <h3 class="mt-5">Location on Map</h3>
  <div id="map" style="height: 400px;"></div>
</div>

<script>
  var latitude = <%= raw @cafe.latitude %>;
  var longitude = <%= raw @cafe.longitude %>;

  function initMap() {
    var cafeLocation = {lat: latitude, lng: longitude};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: cafeLocation
    });

    var marker = new google.maps.Marker({
      position: cafeLocation,
      map: map
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA__TKlpHwteR_vPrQIpb18XURpKnqH_to&libraries=places&callback=initMap">
</script>
